doctype 5
html
  head
    title= title
    script(data-main='js/main', datatype='text/javascript', src='js/libs/require/require.js')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,minimum-scale=1,maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='author', content='Victor Coulon')
    meta(name='keywords', content='html5, css3, paris, front-end, design, dribbble, github, intégrateur, javascript')
    title Victor Coulon | Front-end & User Interface developer living in Paris
    link(rel='icon', type='image/png', href='http://victorcoulon.fr/wp-content/themes/bbxdesert/assets/images/me.png')
    link(rel='stylesheet', type='text/css', href='/css/style1.css')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://victorcoulon.fr/xmlrpc.php?rsd')
  body
    header
    block content