<div class="row">
  <div class="cell-6 prepend-1">
    <div class="post">
      <h1 class="post-title">About me</h1>
      <div class="post-content">
      <p>I have been programming for around 18 months and have spent a lot of that time focusing on javaScript.</p>
      <p>Being relatively new to coding, I knew I had a long journey to proficiency and a huge skills gap to fill.  Initially, after learning html and CSS, I played a lot with PHP and got a site up and running with Codeigniter. I loved it and learnt all about OOP!  I also learned that I really like MVC and it opened my eyes to coding practices.</p>
      <p>I got into node.js about 6 months ago and an idea set in: If I focus on javaScript, I will be learning the most ubiquitous of the programming languages and also be getting in on the “node.js movement”, at the same time as a lot of more experienced programmers.  Since then, I’ve got cosy with node.js, Backbone.js, AMD, TDD and all the other cool cats.</p>
       <p>This site is me trying to share what I’m learning, and give a little back to the community that made learning all this stuff possible and accessible.</p>
      </div>
    </div>
  </div>
  <div class="cell-5 sidebar about">
    <div id="text-3" class="widget widget_text">
      <div class="textwidget"><img src="./img/meAndDylan.jpeg" alt="Shane Davis" class="me" id="mainPic">
      </div>
    </div>
    <div id="text-4" class="widget widget_text">
      <div class="textwidget">Want to <strong>hire me</strong>? I have limited availability but don't hesitate to <a href="#contact">get in touch</a>.
      </div>
    </div>
  </div>
</div>