<div class="row">
  <div class="cell-8 prepend-1">
    <div class="post">
      <h1 class="post-title">Contact</h1>
      <div class="post-content">
        <p>I would love to hear from anyone that also has an interest in programming and wants to chat about anything javaScript related.</p>
        <p>At the moment I'm working for a large logistics firm where I develop javaScript applications to help improve performance and drive innovation. In my spare time, I'm working on a web/mobile logistics application.  Although this takes up a lot of my time, I would still love to hear from you if you have any projects that you feel I might be interested in being part of.</p>
        <p>Like most, I always have my smart phone on me and will try and get back to you straight away.</p>
        <br />
        To schedule work or for additional information, <a href="sh4n3d@googlemail.com">email me</a>.</p>
      </div>
    </div>
  </div>
  <div class="cell-3 sidebar contact">
    <div id="linkcat-6" class="widget widget_links"><h3>LETS GET SOCIAL</h3>
      <ul class="xoxo blogroll">
        <li><a href="https://vimeo.com/user12642866" rel="me" target="_blank">Vimeo</a></li>
        <li><a href="http://www.facebook.com/shane.h.davis.3" rel="me" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/sh4n3d4v15" rel="me" target="_blank">Github</a></li>
        <li><a href="http://www.linkedin.com/pub/shane-davis/49/a27/418" rel="me" target="_blank">Linkedin</a></li>
        <li><a href="https://twitter.com/gettysburgslim" rel="me" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
