<div class="row">
<h1>My Picks...</h1>
    If I'm not coding or hunting through the web for programmming blogs and tutorials I'm churning through books on my humble and beloved kindle.  Here are a few of the ones that I've thought were particularily excellent recently...
</div>

<div class="row" id="loadResources">
<!--     <article class="row work">
        <div class="cell-10 prepend-1 work-post">
            <h1>Sites that have helped me recently...</h1>
            <ul class="list">
                <li><a href="http://responsive.victorcoulon.fr" rel="external nofollow">RWD Bookmarklet</a> — a simple and powerful bookmarklet for testing responsive design
                </li>
            </ul>
            <p>Check out the full list of my open source projects <a href="https://github.com/sh4n3d4v15" rel="external nofollow">on GitHub</a>.</p>
        </div>
    </article> -->
</div>