<header class="intro">
    <div class="row">
        <hgroup class="cell-11 prepend-1">
        <h1>Shane Davis</h1><!--<h1><span class="blued">Shane Davis</span></h1>-->            
        <h2>We need to talk about javaScript </h2>
        </hgroup>
    </div>
</header>
<div class="row">
    <div class="cell-7 prepend-1" id="latest" >
        <article id="170" class="post-170 post type-post status-publish format-standard hentry category-personal">
            <header>
            <h1 class="post-title">
            <img src="img/ajax-loader.gif" id="loader"/>
            </h1>
            </header>
            <div class="post-excerpt">
            <p></p>
            <p></p>
            </div>
        </article>
        <h2 id="headLatest"></h2>
        <ul class="last-posts" id="postList">
        </ul>
    </div>
    <div class="cell-4 sidebar">
        <div id="text-2" class="widget widget_text"><h3>GET IN TOUCH</h3>
            <div class="textwidget">You can find me at all the usual places</div>
            <ul class="socials">
            <li><a href="http://www.facebook.com/shane.h.davis.3"target="_blank"><img src="img/Facebook.png" alt=""> </a></li>
            <li><a href="https://twitter.com/gettysburgslim"target="_blank"><img src="img/Twitter.png" alt=""> </a></li>
            <li><a href="http://www.linkedin.com/pub/shane-davis/49/a27/418"target="_blank"><img src="img/LinkedIn.png" alt=""> </a></li>
            <li><a href="https://vimeo.com/user12642866"target="_blank"><img src="img/Vimeo.png"></a></li>
            </ul>
        </div>
        <br />
        <div id="linkcat-2" class="widget widget_links"><h3>Post Catergories</h3>
            <br />
            <ul class="xoxo blogroll" id="catergories">
            </ul>
        </div>
    </div>
</div>